In [1]:
import pandas as pd

In [2]:
entrenamiento = pd.read_csv("data.csv")
entrenamiento.sort_values(by = ["Total_Amount"], inplace = True, ascending = False)

In [3]:
regionEMEA = entrenamiento["Region"] == "EMEA"
entrenamientoEMEA = entrenamiento[regionEMEA]
entrenamientoEMEA[["Region", "Total_Amount"]].head()

     Region  Total_Amount
2179   EMEA  2.162400e+08
3667   EMEA  1.539788e+08
2806   EMEA  1.237501e+08
1933   EMEA  3.960007e+07
2957   EMEA  3.603600e+07

In [4]:
entrenamientoEMEA = entrenamientoEMEA[["ID", "Territory", "Delivery_Quarter", "Delivery_Year"]]

In [5]:
entrenamientoEMEA.iloc[0:9]

         ID    Territory Delivery_Quarter  Delivery_Year
2179  10808         None               Q2           2016
3667   8037   SE America               Q3           2017
2806   4909  UAE (Dubai)               Q1           2017
1933  10620   Kazakhstan               Q2           2016
2957  13709      Romania               Q2           2016
598    4865       France               Q4           2017
7898  15287      Belgium               Q1           2018
1817  10350      Romania               Q3           2017
3684  20848        Italy               Q4           2016

In [6]:
territorioAlemania = entrenamiento["Territory"] == "Germany"
entrenamientoAlemania = entrenamiento[territorioAlemania]

In [7]:
precioAleman = entrenamientoAlemania["Price"]

In [12]:
precioAleman = pd.to_numeric(precioAleman, errors = "coerce")

In [14]:
precioAleman.mean()

0.2646788990825688